---
---

//
// IMPORTS
//
@import "variables";
@import "font";
@import "reset";

/**************/
/* BASE RULES */
/**************/

.wrapper-layout {
  display: table;
  width: 100%;
  height: 100%;
}

.content {
  display: table-row;
  height: 100%;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.message {
  margin-bottom: 1rem;
  color: #717171;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1rem;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 28rem;
}

.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #ddd;
  background-color: #f3f3f3;
}

.masthead-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
  a {
    color: #505050;
    font-weight: bold;
    &:hover {
      background-color: transparent
    }
  }
  small {
    font-size: 75%;
    font-weight: normal;
    color: #aaa;
    letter-spacing: 0;
    display: block;
    clear: both;
  }
}

.page,
.post {
  margin-bottom: 4em;
  a {
    border-bottom: 1px solid $linkColor;
    &:hover {
      border: 0;
    }
  }
}

.wrap {
  position: relative;
  width: 100%;
  margin-top: -20px;
  padding: 0;
}

.post-list {
  margin: 0 0 .75em;
  font-size: 1.2em;
}

.project-list {
  font-size: 1em;
  padding: 10px;
  border: 1px solid #ddd;
  background: #f8f8f8;
}

.project-list code {
  font-size: .9em;
}

.notes a {
  border: 0
}

p,
ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

blockquote p:last-child {
  margin-bottom: 0
}

.page-title,
.post-title {
  margin-top: 0
}

.post-list__date {
  float: right;
  margin: 0 0 0 20px;
}

.project-list__category {
  float: right;
  margin: -14px -10px 0 10px;
}

.page-title,
.post-title,
.post-date {
  text-align: center
}

.post-date {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.post-list__date {
  small {
    color: #757575;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.project-list__category {
  small {
    color: #757575;
    display: inline-block;
    font-size: 70%;
    background: #eee;
    padding: 2px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
  }
}

.post-list__desc,
.project-list__desc {
  color: #888;
  font-size: 80%;
}

.post-list__desc {
  padding-right: 110px;
}

.project-source {
  display: block;
}

.project-source a,
a.more-notes,
a.more-projects {
  border: 1px solid #ddd;
  padding: 2px 5px;
  background: transparent;
  color: #999;
  outline: 0;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 70%;
  &:hover {
    cursor: pointer;
    border: 1px solid #555;
    background: #444;
    color: #fff;
  }
}

.post-top-meta,
.page-top-meta {
  margin-bottom: 2rem
}

.hrline {
  background: #ddd;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(#ccc), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #ccc, rgba(255, 255, 255, 0));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ccc, rgba(255, 255, 255, 0));
  height: 1px;
  margin: 2.5em 0;
}

.twitter-follow,
.license {
  margin-bottom: 1rem
}

.copyright,
.license {
  font-size: 80%;
  color: #888;
}

.license {
  text-align: justify
}

.footer {
  margin: 0 auto 1rem;
  padding: 0 1rem 1rem;
  text-align: center;
  &__social-links {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    a {
      padding: 3px 5px;
      width: 25px;
      height: auto;
      position: relative;
      text-align: center;
      display: inline-block;
      color: #777;
      -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
      -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
      -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
      transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
      &:hover {
        color: #fff;
        background: #111;
      }
    }
  }
}

.master-nav {
  background: #000;
  padding: 12px;
}

.nav {
  *zoom: 1;
  font-weight: 400;
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.top-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 2.4;
  font-size: 13px;
  li {
    display: inline-block;
    a {
      color: #fff;
      background: #000;
      padding: 5px 10px;
      border: 1px solid #000;
      white-space: nowrap;
      letter-spacing: 1px;
      border-radius: 2px;
      font-size: 0.92em;
      &:hover {
        border: 1px solid #fff;
        background: #fff;
        color: #000;
      }
      &.special {
        color: #09f;
        border: 1px solid $linkColor;
        &:hover {
          background: #036;
        }
      }
      &.resume {
        color: #F88119;
        border: 1px solid #F88119;
        &:hover {
          background-color: #673807;
        }
      }
      &.unique {
        color: #F33D36;
        border: 1px solid #BB0000;
        &:hover {
          background: #7D0000;
        }
      }
    }
  }
}

.back {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.grid {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  &__sizer, &__item {
    padding: 10px;
    width: 31.6666667%;
    height: auto;
    float: left;
    margin: 0 0 10px 0;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 20px
  }
  .container,
  .footer {
    max-width: 32rem
  }
}

@media only screen and (min-width: 1200px) {
  .container,
  .footer {
    max-width: 38rem
  }
}

@media (min-width: 30.1em) {
  .text-truncate {
    max-width: 100%;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    word-wrap: normal !important;
  }
}

@media only screen and (max-width: 768px) {
  .fork-me-button {
    display: none;
  }
  .grid__sizer,
  .grid__item {
    padding: 10px;
    width: 47.5%;
  }
  pre {
    max-height: 500px;
  }
}

@media only screen and (max-width: 400px) {
  .grid__sizer,
  .grid__item {
    width: 100%;
  }
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}

::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/

.clearfix {
  &::before, &::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}


//print styles
@import "print";

// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "svg-icons";
