<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel='shortcut icon' type='image/x-icon' href="{{ 'images/favicon.png' | prepend: site.baseurl }}" />
    <script async="" src="//www.google-analytics.com/analytics.js"></script>

  </head>

  <body>
  <div class="wrapper-layout">
    <div class="content">
      <div class="wrapper-masthead">
        <div class="container-fluid">
          <header>
            <div class="master-nav">
              <nav class="nav">
                <ul class="top-menu">
                  <li><a href="/"><i class="fa fa-home"></i> Главная</a></li>
                  <li><a href="{{ site.baseurl }}/about"><i class="fa fa-info-circle"></i> Обо мне</a></li>
                  <li><a href="{{ site.baseurl }}/notes"><i class="fa fa-pencil"></i> Записи</a></li>
                  <li><a class="resume" href="/resume.html"><i class="fa fa-file-text-o"></i> Резюме</a></li>
                  <li><a class="special" href="https://github.com/EsherApe?tab=repositories"><i class="fa fa-github-alt"></i> Репозитории</a></li>
                  <li><a class="special" href="https://gist.github.com/EsherApe"><i class="fa fa-code"></i> Gists</a></li>
                  <li><a class="unique" href="#"><i class="fa fa-camera-retro"></i> Фотографии</a></li>
                </ul>
              </nav>
            </div>
          </header>
        </div>
      </div>
      <div class="masthead">
        <div class="container">
          <h2 class="masthead-title">
            <a href="/" title="Home">Базильский Андрей</a>
            <small>Очередной блог по Веб-разработке</small>
          </h2>
          <div class="footer__social-links">
            <!--<a href="" title="RSS Feed" target="_blank"><i class="fa fa-rss"></i></a>-->
            <a href="https://www.linkedin.com/in/andrey-bazilskiy-413a06127?trk=nav_responsive_tab_profile" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100013130779073" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/esher5580" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/EsherApe" title="GitHub" target="_blank"><i class="fa fa-github-alt"></i></a>
            <a href="https://gist.github.com/EsherApe" title="GitHub Gist" target="_blank"><i class="fa fa-code"></i></a>
            <a href="http://codepen.io/jesusrockstar/" title="CodePen" target="_blank"><i class="fa fa-codepen"></i></a>
            <!--<a href="" title="500px" target="_blank"><i class="fa fa-500px"></i></a>-->
            <a href="https://www.instagram.com/_esher_a/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div id="main" role="main" class="container">

        {{ content }}

      </div>
    </div>

    <div class="footer">
      <div class="hrline"></div>
      <div class="license">Если не указано иное, весь оригинальный код представленный на этом сайте находится под лицензией <a href="#">MIT</a>. Все оригинальные фотографии и текст на этом веб-сайте под лицензией <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/deed.ru">Creative Commons «Attribution-NonCommercial-ShareAlike» («Атрибуция — Некоммерческое использование — На тех же условиях»).</a> Если у вас возникли какие-либо вопросы по использованию материалов в коммерческих целях, пожалуйста <a href="https://github.com/EsherApe">спросите меня тут</a> или <a href="mailto:esher5580@gmail.com">пишите на почту.</a></div>
      <div class="copyright">Сделано с <span style="color:#e00"><i class="fa fa-heart"></i></span> и с помощью <a href="http://jekyllrb.com">Jekyll</a> &middot; <i class="fa fa-code"></i> на <a href="https://github.com/EsherApe/EsherApe.github.io">GitHub</a> <i class="fa fa-github-alt"></i><br>&copy; 2016 EsherApe</div>
    </div>

  </div>

  <script src="{{ site.baseurl }}/js/modernizr.custom.js"></script>
  <script src="{{ site.baseurl }}/js/jquery-1.11.2.min.js"></script>
  <script src="{{ site.baseurl }}/js/masonry.pkgd.min.js"></script>
  <script>
    $(window).load(function() {
      $('.grid').masonry({
        itemSelector: '.grid__item',
        columnWidth: '.grid__sizer',
        gutter: 10
      });
    });
  </script>
    {% include analytics.html %}
  </body>
</html>
